.contacts{
	.contactsContent{
		margin-top: 100px;
		background-color: $blue;
		h3{
			@include text(48px);
			padding:40px 0;
			@media #{$brk-xs}{
			font-size: 32px;
			}
		}
		p,a{
			@include text();
			line-height: 50px;
			margin:10px;	
			margin-left: 60px;
			@media #{$brk-xs}{
			font-size: 18px;
			}
		}
		i{
			position: absolute;
			font-size: 40px;
			margin-left: -60px;
			
		}
		padding-bottom: 50px;
	}	
	display: none;
}