header {
	top:0;
	position: fixed;
	background-color: rgba(238,238,238, 0.95);
	height: 100px;
	width:100%;
	margin:auto; 
	z-index: 3000;

	h1{
	   @include text(72px,$Konkord,$black);
	   padding:10px 0px;
	   @media #{$brk-md} {
        @include text(48px,$Konkord,$black);
    	}
	}
	
	h2{
		@include text(20px,$Sansation,$black);
		   padding:15px 5px;
		  @media #{$brk-md} {
        @include text(16px,$Sansation,$black);
    	}
	}
	#top_menu{
		ul{
		@media #{$brk-sm} {
        background-color: $white;
        margin-top: 45px;
        z-index: 15;
        opacity: 0.95;
        text-align: center;
    	}

		}
		li{
			a{
				@include text(48px,$Konkord,$black);
				text-decoration: none;
				@media #{$brk-lg} {
        		@include text(40px,$Konkord,$black);
    			}
    			@media #{$brk-md} {
        		@include text(36px,$Konkord,$black);
    			}
    			@media #{$brk-sm} {
        		@include text(48px,$Konkord,$black);
    			}

			}

			

		display: inline-block;
		padding:24px;
		@media #{$brk-md} {
        padding:24px 10px;
    	}
    	@media #{$brk-sm} {
        display: block;
    	}

		&:hover{
			a{
				color:$white;
			}
			@include button();
		}
		}

	}
}