.portfolio{
	.bgLine{
		top: 150px;
		background-color: $blue;
		position: absolute;
		height: 230px;
		width: 100%;
		@media #{$brk-sm}{
		display:none;
			}	
	}
	.portfolioContent{
		margin-top: 150px;
		
		p{
			@include text();
			line-height: 50px;
			@media #{$brk-sm}{
			margin-top: 200px;
			@include text(18px,$Proxima,$blue);
			}	
			@media #{$brk-xs}{
			margin-top: 0px;
			}
		}
		li{
			
			@include text(18px);
			line-height: 25px;	
			margin-left: 30px;
			@media #{$brk-sm}{
			@include text(18px,$Proxima,$blue);
			}
		}
		.display img{
			top: -30px;
			position: absolute;
			width: 400px;
			@media #{$brk-xs}{
			display:none;
			}
		}
		.smartphone img{
			top:60px;
			position: absolute;
			width: 200px;
			right:0;
			@media #{$brk-md}{
			right:-70px;
			width: 50%;
			top:80%;
			}
			@media #{$brk-xs}{
			display:none;
			}

		}
		padding-bottom: 50px;
	}
	#slider{
		margin-top: 150px;
		display: inline-block;
		border-radius: 20px;
		position: relative;
		height: 150px;
		width: 900px;
		overflow: hidden;
		@media #{$brk-lg}{
		width: 730px;
		}		
		@media #{$brk-md}{
		width: 540px;
		}
		@media #{$brk-sm}{
		width: 360px;
		}
		@media #{$brk-xs}{
		width: 180px;
		}

		
		img{
		
			padding: 15px;
			transition: 0.5s;
			&:hover{
				
				
				padding: 5px;
			}
		}
		.siteIcon{
			img{

			}
			transition: opacity 0.5s , left 0.5s;
			//transition: 1s;
			width: 180px;
		position: absolute;
		}
		.siteIcon {
		// display:none;
		}

	}

	#prevSlide i, #nextSlide i{
		margin-top: 150px;
		font-size: 50px;
		color: $blue;
		padding: 50px 0px;
		position: absolute;
		
		&:hover{
			transition: 0.5s;
			font-size: 70px;
			padding: 40px 0;
		}
		}
	#nextSlide {
		float:right;
		right: 40px;
	}
	#prevSlide{
		float:left;
	}

	display: 	none;
	.siteText2, .siteText3,.siteText4,.siteText5, .siteText6,.siteText7{
		display: 	none;
	}
}
