.portfolio{
	.bgLine{
		top: 150px;
		background-color: $blue;
		position: absolute;
		height: 230px;
		width: 100%;
		@media #{$brk-sm}{
		display:none;
			}	
	}
	.portfolioContent{
		margin-top: 150px;
		
		p{
			@include text();
			line-height: 50px;
			@media #{$brk-sm}{
			margin-top: 200px;
			@include text(18px,$Proxima,$blue);
			}	
			@media #{$brk-xs}{
			margin-top: 0px;
			}
		}
		li{
			
			@include text(18px);
			line-height: 25px;	
			margin-left: 30px;
			@media #{$brk-sm}{
			@include text(18px,$Proxima,$blue);
			}
		}
		.display img{
			top: -30px;
			position: absolute;
			width: 400px;
			@media #{$brk-sm}{
			width: 312px;
			}

			@media #{$brk-xs}{
			display:none;
			}
		}
		.siteOnDisplay{

			display: inline-block;
			top: -14px;
			left: 32px;
			position: absolute;
			width: 366px;
			background-color: #f00;
			height: 210px;
			z-index:2;
			@media #{$brk-md}{
			top: -18px;
			left: 28px;
			width: 286px;
			height: 164px;
			}
			@media #{$brk-xs}{
			display:none;
			}
		}
		

		.smartphone img{
			top:60px;
			position: absolute;
			width: 200px;
			right:0;
			z-index:3;
			
			@media #{$brk-lg}{
			right:-82px;
			}
			@media #{$brk-md}{
			top:34px;
			right:-90px;
			width: 160px;
			}
			@media #{$brk-sm}{

			width: 160px;
			left:242px;
			top:34px;

			}
			@media #{$brk-xs}{
			display:none;
			}
		}
		.siteOnSmartphone{
			display: inline-block;
			top: 81px;
			left: 338px;
			position: absolute;
			width: 98px;
			background-color: #ff0;
			height: 154px;
			z-index:4;
			@media #{$brk-md}{
				top:51px;
				left:283px;
				width: 79px;
				height: 124px;
				}
			@media #{$brk-xs}{
			display:none;
			}
		}
		padding-bottom: 50px;
	}
	#slider{
		margin-top: 300px;
		display: inline-block;
		border-radius: 20px;
		position: relative;
		height: 150px;
		width: 900px;
		overflow: hidden;
		@media #{$brk-lg}{
		width: 730px;
		}		
		@media #{$brk-md}{
		
		width: 540px;
		}
		@media #{$brk-sm}{
		margin-top: 400px;
		width: 360px;
		}
		@media #{$brk-xs}{
		margin-top: 200px;
		width: 180px;
		}

		
		img{
			
			padding: 15px;
			transition: 0.5s;
			&:hover{
				
				
				padding: 5px;
			}
		}
		.siteIcon{
			img{
			
			}
			
			transition: opacity 0.5s , left 0.5s;
			//transition: 1s;
			width: 180px;
			position: absolute;
		}
		

	}

	#prevSlide i, #nextSlide i{
		margin-top: 300px;
		font-size: 50px;
		color: $blue;
		padding: 50px 0px;
		position: absolute;
		@media #{$brk-sm}{
		margin-top: 400px;	
		}
		@media #{$brk-xs}{
		margin-top: 200px;
		}
		
		&:hover{
			transition: 0.5s;
			font-size: 70px;
			padding: 40px 0;
		}
		}
	#nextSlide {
		float:right;
		right: 40px;
	}
	#prevSlide{
		float:left;
	}

	display: 	none;
	.siteText2, .siteText3,.siteText4,.siteText5, .siteText6,.siteText7{
		display: 	none;
	}
	.siteInfo{
		position: absolute;
	}
}
