.skills{
	.skillsContent{
		margin-top: 100px;
		background-color: $blue;
		.text {
			p,a{
			@include text();
			line-height: 50px;
			margin:10px;	
			margin-left: 60px;
			@media #{$brk-md} {
        		line-height: 26px;
        		font-size: 20px;
    			}
    		@media #{$brk-sm} {
        	line-height: 20px;
        	font-size: 16px;
    		}
			}

			i{
				position: absolute;
				font-size: 40px;
				margin-left: -60px;	
			}
		}
		button{
		position:fixed; 
		top:150px;
		right:50px;
		padding: 20px;
		@include text(20px,$Sansation,$blue);
		border:none;
		background-color: $white;
		border-radius: 10px;
		cursor: pointer;
		&:hover{
				background-color: $black;
				color: $white;
				transition: color 1s , background-color 1s;
			}
		@media #{$brk-md} {
        		position:static; 
    			}
			}
		padding-bottom: 50px;
	}	

	display: 	none;
}