@font-face {
font-family: "Konkord_Retro";
src: url("../fonts/Konkord_Retro.ttf");
}

@font-face {
font-family: "ProximaNova_Semibold";
src: url("../fonts/ProximaNova_Semibold.otf");
}

@font-face {
font-family: "Sansation_Light";
src: url("../fonts/Sansation_Light.ttf");
}
