@mixin text($size:24px, $family:$Proxima, $color:$white, $weight:null, $lineheight:null){
    font-size: $size;
    font-family: $family;
    color: $color;
    line-height: $lineheight;
    font-weight: $weight;
}

@mixin button($backgroundColor:$blue,$family:$Konkord){
	background-color: $backgroundColor;
	font-family: $family;
	border-radius: 10px;
}