//colors

$white : #eee;
$black : #000;
$blue : #474d5d;

$stack-sans-serif : Helvetica, Arial, sans-serif;
$Konkord: 'Konkord_Retro', $stack-sans-serif;
$Proxima: 'ProximaNova_Semibold', $stack-sans-serif;
$Sansation: 'Sansation_Light', $stack-sans-serif;

//breakpoints
$brk-lg : '(max-width: 1200px)';
$brk-md: '(max-width: 992px)';
$brk-sm : '(max-width: 768px)';
$brk-xs : '(max-width: 460px)';

